In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from nltk.tokenize import TweetTokenizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [13]:
df = pd.read_csv('./spam.csv',encoding='latin1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [15]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [16]:
df = df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'])

In [17]:
df.columns =['spam','text']

In [18]:
df.head()

   spam                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
df['spam'] = df['spam'].map({'ham':0,'spam':1})

In [21]:
df['len_text'] = df['text'].apply(lambda x: len(x))

In [22]:
df.head()

   spam                                               text  len_text
0     0  Go until jurong point, crazy.. Available only ...       111
1     0                      Ok lar... Joking wif u oni...        29
2     1  Free entry in 2 a wkly comp to win FA Cup fina...       155
3     0  U dun say so early hor... U c already then say...        49
4     0  Nah I don't think he goes to usf, he lives aro...        61

In [26]:
ham_mean = df[df['spam'] == 0]['len_text'].mean()
spam_mean = df[df['spam'] == 1]['len_text'].mean()
print('Ham Mean: {}\nSpam Mean:{}'.format(ham_mean,spam_mean))

Ham Mean: 71.02362694300518
Spam Mean:138.8661311914324

### EDA

In [27]:
X_train, X_test, y_train, y_test = train_test_split(df['text'],df['spam'])

In [35]:
twt_tokenizer = TweetTokenizer(preserve_case=False)

cv = CountVectorizer(tokenizer= twt_tokenizer.tokenize,max_features=1000)
X_train_text = cv.fit_transform(X_train)

In [37]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
mnb.fit(X_train_text,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [40]:
from sklearn.metrics import accuracy_score,confusion_matrix
X_test_text = cv.transform(X_test)
y_pred = mnb.predict(X_test_text)
accuracy_score(y_pred,y_test)

0.9827709978463748

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
confusion_matrix