In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('./resources/aquastat.csv')

In [13]:
df.head()

,country,region,variable,variable_full,time_period,year_measured,value
0,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1958-1962,1962.0,65286.0
1,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1963-1967,1967.0,65286.0
2,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1968-1972,1972.0,65286.0
3,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1973-1977,1977.0,65286.0
4,Afghanistan,World | Asia,total_area,Total area of the country (1000 ha),1978-1982,1982.0,65286.0

### Data normalization

Larger values will have more impact, so can normalize the values in data that range from zero to one

(https://www.coursera.org/lecture/data-analysis-with-python/data-normalization-in-python-pqNBS)