## Using sqlite with Python

In [ ]:
import sqlite3
from IPython.display import Image
from IPython.core.display import HTML

### Let's create another book database

In [ ]:
Image("https://media.giphy.com/media/WoWm8YzFQJg5i/giphy.gif")

In [ ]:
create_table_query =  """CREATE TABLE book_list(
  id INTEGER PRIMARY KEY Autoincrement,
  title TEXT,
  author TEXT,
  genre TEXT,
  year INTEGER
  );"""

## Inserting Data

In [ ]:
insert_query = """INSERT INTO book_list (title, author, genre, year) VALUES
('The Great Gatsby','F. Scott Fitzgerald','Fiction',1925),
('War and Peace', 'Leo Tolstoy','Historical Novel',1869),
('A Brief History of Time', 'Stephen Hawking','Cosmology',1988),
('Lord of the Rings: Fellowship of the Ring','JRR Tolkien','Fantasy',1954);"""

In [ ]:
conn.commit()

## Querying Data

In [ ]:
select_query = """SELECT * FROM book_list"""

## Creating functions with SQL

In [ ]:
column_names = ['title','author','genre','year']
values =  [["It","Stephen King","Horror",1986],['Captain Underpants','Dav Pilkey','Children',1997],\
           ['Where the Sidewalk Ends', 'Shel Silverstein','Poetry',1970]]

In [ ]:
def insert_data(connection,column_names,values):
    """connection: a sqlite3 connection object
       column_names: the columns that are having data inserted in them (list)
       values: a value that you are putting in """
    
    return None

## Orrrrrr, you can just use pandas...

In [ ]:
 Image(url= "https://cdn-images-1.medium.com/max/1600/0*D0RQ889t5o6H2A3V.jpg")

#### but we'll get to that later