### Numpy intro

* higher dimensional data structure 
* selection of elements within the list lines up nicely to python
* performing operations on an array instead of a scalar

In [6]:
import numpy as np

In [7]:
np.array([1, 4, 5])

array([1, 4, 5])

In [8]:
np.ones(4)

array([1., 1., 1., 1.])

In [12]:
np.zeros((4, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [19]:
np.zeros((2,3, 2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [20]:
np.full((3,2,4), 'hello')

array([[['hello', 'hello', 'hello', 'hello'],
        ['hello', 'hello', 'hello', 'hello']],

       [['hello', 'hello', 'hello', 'hello'],
        ['hello', 'hello', 'hello', 'hello']],

       [['hello', 'hello', 'hello', 'hello'],
        ['hello', 'hello', 'hello', 'hello']]], dtype='<U5')

In [30]:
np.linspace(0, 10, 20)

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [38]:
evens = np.arange(0, 11, 2)
evens

array([ 0,  2,  4,  6,  8, 10])

In [37]:
odds = np.arange(1, 11, 2)
odds

array([1, 3, 5, 7, 9])

In [43]:
not_quite_evens = np.append(evens, 'foo')

In [42]:
odds.dtype

dtype('int64')

In [44]:
not_quite_evens.dtype

dtype('<U21')

In [47]:
type(not_quite_evens[2])

numpy.str_

In [49]:
nums = list(range(0, 5))

In [50]:
nums.append('foo')

In [51]:
nums[]

[0, 1, 2, 3, 4, 'foo']

* Speed 
* Space

In [52]:
evens = np.arange(0, 9, 2)

In [54]:
evens.dtype

dtype('int64')

In [62]:
strs_as_numbers = evens.astype('<U21')

In [63]:
strs_as_numbers

array(['0', '2', '4', '6', '8'], dtype='<U21')

In [67]:
strs_as_numbers[1] = strs_as_numbers[1] + '1'

In [68]:
strs_as_numbers

array(['0', '21', '4', '6', '8'], dtype='<U21')

In [69]:
strs_as_numbers.astype('int')

array([ 0, 21,  4,  6,  8])

### multidimensional arrays

In [70]:
evens

array([0, 2, 4, 6, 8])

In [71]:
odds

array([1, 3, 5, 7, 9])

In [76]:
stack_axis_zero = np.stack([evens, odds])
stack_axis_zero

array([[0, 2, 4, 6, 8],
       [1, 3, 5, 7, 9]])

In [77]:
stack_axis_one = np.stack([evens, odds], axis = 1)
stack_axis_one

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [87]:
numbers_through_ten = np.arange(1, 11).reshape(2, 5)

In [88]:
numbers_through_ten + 1

array([[ 2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11]])

In [90]:
numbers_through_ten[1] - 3

array([3, 4, 5, 6, 7])

In [93]:
numbers_through_ten[1] = 3

In [94]:
numbers_through_ten

array([[1, 2, 3, 4, 5],
       [3, 3, 3, 3, 3]])

In [98]:
numbers_through_ten

array([[1, 2, 3, 4, 5],
       [3, 3, 3, 3, 3]])

In [99]:
numbers_through_ten[0] = numbers_through_ten[0] + numbers_through_ten[1]

In [100]:
numbers_through_ten

array([[4, 5, 6, 7, 8],
       [3, 3, 3, 3, 3]])

In [101]:
numbers_through_ten.shape

(2, 5)

In [103]:
numbers_through_ten[:, 1]

array([5, 3])

In [108]:
stacked_numbers = np.stack([stack_axis_one, stack_axis_one + 100])

In [109]:
stacked_numbers

array([[[  0,   1],
        [  2,   3],
        [  4,   5],
        [  6,   7],
        [  8,   9]],

       [[100, 101],
        [102, 103],
        [104, 105],
        [106, 107],
        [108, 109]]])

In [114]:
stacked_numbers[:, 0, 0]

array([  0, 100])

In [118]:
stack_axis_one == 1

array([[False,  True],
       [False, False],
       [False, False],
       [False, False],
       [False, False]])

In [119]:
stack_axis_one

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [122]:
results = stack_axis_one < 3
results

array([[ True,  True],
       [ True, False],
       [False, False],
       [False, False],
       [False, False]])

In [123]:
stack_axis_one[results]

array([0, 1, 2])

In [125]:
stack_axis_one[stack_axis_one == 3]

array([3])

In [127]:
stack_axis_one

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [129]:
stack_axis_one[:, 1][stack_axis_one[:, 1] < 5]

array([1, 3])

In [131]:
stack_axis_one[:, 1] < 5

array([ True,  True, False, False, False])

In [135]:
stack_axis_one[stack_axis_one[:, 1] < 5]

array([[0, 1],
       [2, 3]])

In [136]:
import pandas as pd

In [141]:
msas= pd.read_html("https://en.wikipedia.org/wiki/List_of_metropolitan_statistical_areas")[1]

In [143]:
msas_array = msas.values

In [147]:
msas_array[1:, 1]

array(['New York-Newark-Jersey City, NY-NJ-PA MSA',
       'Los Angeles-Long Beach-Anaheim, CA MSA',
       'Chicago-Naperville-Elgin, IL-IN-WI MSA',
       'Dallas-Fort Worth-Arlington, TX MSA',
       'Houston-The Woodlands-Sugar Land, TX MSA',
       'Washington-Arlington-Alexandria, DC-VA-MD-WV MSA',
       'Miami-Fort Lauderdale-West Palm Beach, FL MSA',
       'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA',
       'Atlanta-Sandy Springs-Roswell, GA MSA',
       'Boston-Cambridge-Newton, MA-NH MSA',
       'Phoenix-Mesa-Scottsdale, AZ MSA',
       'San Francisco-Oakland-Hayward, CA MSA',
       'Riverside-San Bernardino-Ontario, CA MSA',
       'Detroit-Warren-Dearborn, MI MSA',
       'Seattle-Tacoma-Bellevue, WA MSA',
       'Minneapolis-St. Paul-Bloomington, MN-WI MSA',
       'San Diego-Carlsbad, CA MSA',
       'Tampa-St. Petersburg-Clearwater, FL MSA',
       'Denver-Aurora-Lakewood, CO MSA',
       'Baltimore-Columbia-Towson, MD MSA', 'St. Louis, MO-IL MSA',
       'Charlotte-Concord-Gastonia, NC-SC MSA',
       'Orlando-Kissimmee-Sanford, FL MSA',
       'San Antonio-New Braunfels, TX MSA',
       'Portland-Vancouver-Hillsboro, OR-WA MSA', 'Pittsburgh, PA MSA',
       'Sacramento–Roseville–Arden-Arcade, CA MSA',
       'Las Vegas-Henderson-Paradise, NV MSA', 'Cincinnati, OH-KY-IN MSA',
       'Kansas City, MO-KS MSA', 'Austin-Round Rock, TX MSA',
       'Columbus, OH MSA', 'Cleveland-Elyria, OH MSA',
       'Indianapolis-Carmel-Anderson, IN MSA',
       'San Jose-Sunnyvale-Santa Clara, CA MSA',
       'Nashville-Davidson–Murfreesboro–Franklin, TN MSA',
       'Virginia Beach-Norfolk-Newport News, VA-NC MSA',
       'Providence-Warwick, RI-MA MSA',
       'Milwaukee-Waukesha-West Allis, WI MSA', 'Jacksonville, FL MSA',
       'Oklahoma City, OK MSA', 'Memphis, TN-MS-AR MSA',
       'Raleigh-Cary, NC MSA', 'Richmond, VA MSA',
       'Louisville–Jefferson County, KY-IN MSA',
       'New Orleans-Metairie, LA MSA',
       'Hartford-West Hartford-East Hartford, CT MSA',
       'Salt Lake City, UT MSA', 'Birmingham-Hoover, AL MSA',
       'Buffalo-Cheektowaga-Niagara Falls, NY MSA', 'Rochester, NY MSA',
       'Grand Rapids-Wyoming, MI MSA', 'Tucson, AZ MSA', 'Tulsa, OK MSA',
       'Fresno, CA MSA', 'Urban Honolulu, HI MSA',
       'Bridgeport-Stamford-Norwalk, CT MSA', 'Worcester, MA-CT MSA',
       'Omaha-Council Bluffs, NE-IA MSA', 'Albuquerque, NM MSA',
       'Greenville-Anderson-Mauldin, SC MSA', 'Bakersfield, CA MSA',
       'Albany-Schenectady-Troy, NY MSA', 'Knoxville, TN MSA',
       'McAllen-Edinburg-Mission, TX MSA', 'New Haven-Milford, CT MSA',
       'Oxnard-Thousand Oaks-Ventura, CA MSA', 'El Paso, TX MSA',
       'Allentown-Bethlehem-Easton, PA-NJ MSA', 'Baton Rouge, LA MSA',
       'Columbia, SC MSA', 'North Port-Sarasota-Bradenton, FL MSA',
       'Dayton, OH MSA', 'Charleston-North Charleston, SC MSA',
       'Greensboro-High Point, NC MSA', 'Stockton-Lodi, CA MSA',
       'Cape Coral-Fort Myers, FL MSA',
       'Little Rock-North Little Rock-Conway, AR MSA',
       'Colorado Springs, CO MSA', 'Boise City, ID MSA', 'Akron, OH MSA',
       'Lakeland-Winter Haven, FL MSA', 'Winston-Salem, NC MSA',
       'Ogden-Clearfield, UT MSA', 'Syracuse, NY MSA', 'Madison, WI MSA',
       'Deltona-Daytona Beach-Ormond Beach, FL MSA',
       'Des Moines-West Des Moines, IA MSA', 'Wichita, KS MSA',
       'Springfield, MA MSA', 'Provo-Orem, UT MSA', 'Toledo, OH MSA',
       'Augusta-Richmond County, GA-SC MSA',
       'Palm Bay-Melbourne-Titusville, FL MSA', 'Jackson, MS MSA',
       'Harrisburg-Carlisle, PA MSA', 'Durham-Chapel Hill, NC MSA',
       'Spokane-Spokane Valley, WA MSA', 'Chattanooga, TN-GA MSA',
       'Scranton–Wilkes-Barre–Hazleton, PA MSA', 'Modesto, CA MSA',
       'Lancaster, PA MSA', 'Youngstown-Warren-Boardman, OH-PA MSA',
       'Fayetteville-Springdale-Rogers, AR-MO MSA',
       'Portland-South Portland, ME MSA', 'Lexington-Fayette, KY MSA',
       'Santa Rosa, CA MSA', 'Lafayette, LA MSA',
       'Pensacola-Ferry Pass-Brent, FL MSA',
       'Lansing-East Lansing, MI MSA', 'Port St. Lucie, FL MSA',
       'Reno, NV MSA', 'Visalia-Porterville, CA MSA',
       'Myrtle Beach-Conway-North Myrtle Beach, SC-NC MSA',
       'Springfield, MO MSA', 'Asheville, NC MSA', 'Huntsville, AL MSA',
       'Corpus Christi, TX MSA', 'Santa Maria-Santa Barbara, CA MSA',
       'York-Hanover, PA MSA', 'Vallejo-Fairfield, CA MSA',
       'Killeen-Temple, TX MSA', 'Shreveport-Bossier City, LA MSA',
       'Salinas, CA MSA', 'Fort Wayne, IN MSA', 'Salem, OR MSA',
       'Brownsville-Harlingen, TX MSA', 'Reading, PA MSA',
       'Mobile, AL MSA', 'Beaumont-Port Arthur, TX MSA',
       'Manchester-Nashua, NH MSA', 'Flint, MI MSA',
       'Salisbury, MD-DE MSA', 'Anchorage, AK MSA',
       'Canton-Massillon, OH MSA', 'Gulfport-Biloxi-Pascagoula, MS MSA',
       'Savannah, GA MSA', 'Fayetteville, NC MSA', 'Tallahassee, FL MSA',
       'Davenport-Moline-Rock Island, IA-IL MSA', 'Eugene, OR MSA',
       'Trenton, NJ MSA', 'Montgomery, AL MSA',
       'Naples-Immokalee-Marco Island, FL MSA', 'Peoria, IL MSA',
       'Ann Arbor, MI MSA', 'Hickory-Lenoir-Morganton, NC MSA',
       'Huntington-Ashland, WV-KY-OH MSA', 'Ocala, FL MSA',
       'Fort Collins, CO MSA', 'Kalamazoo-Portage, MI MSA',
       'Rockford, IL MSA', 'Spartanburg, SC MSA', 'Lincoln, NE MSA',
       'Boulder, CO MSA', 'South Bend-Mishawaka, IN-MI MSA',
       'Green Bay, WI MSA', 'Lubbock, TX MSA', 'Evansville, IN-KY MSA',
       'Roanoke, VA MSA', 'Kingsport-Bristol-Bristol, TN-VA MSA',
       'Greeley, CO MSA', 'Columbus, GA-AL MSA', 'Utica-Rome, NY MSA',
       'Kennewick-Richland, WA MSA', 'Wilmington, NC MSA',
       'Clarksville, TN-KY MSA', 'Gainesville, FL MSA',
       'San Luis Obispo-Paso Robles-Arroyo Grande, CA MSA',
       'Fort Smith, AR-OK MSA', 'Olympia-Tumwater, WA MSA',
       'Duluth, MN-WI MSA', 'Santa Cruz-Watsonville, CA MSA',
       'Laredo, TX MSA', 'Erie, PA MSA', 'Merced, CA MSA',
       'Crestview-Fort Walton Beach-Destin, FL MSA',
       'Cedar Rapids, IA MSA', 'Atlantic City-Hammonton, NJ MSA',
       'Norwich-New London, CT MSA', 'Waco, TX MSA',
       'Bremerton-Silverdale, WA MSA',
       'Hagerstown-Martinsburg, MD-WV MSA', 'Amarillo, TX MSA',
       'Danbury, CT MSA', 'Lynchburg, VA MSA', 'Sioux Falls, SD MSA',
       'College Station-Bryan, TX MSA', 'Yakima, WA MSA',
       'Tuscaloosa, AL MSA', 'Binghamton, NY MSA', 'Fargo, ND-MN MSA',
       'Champaign-Urbana, IL MSA', 'Appleton, WI MSA',
       'Charlottesville, VA MSA', 'Topeka, KS MSA', 'Chico, CA MSA',
       'Macon-Bibb County, GA MSA', 'Prescott, AZ MSA', 'Tyler, TX MSA',
       'Bellingham, WA MSA', 'Lafayette-West Lafayette, IN MSA',
       'Burlington-South Burlington, VT MSA', 'Rochester, MN MSA',
       'Longview, TX MSA', 'Medford, OR MSA', 'Las Cruces, NM MSA',
       'Hilton Head Island-Bluffton-Beaufort, SC MSA',
       'Charleston, WV MSA', 'Barnstable Town, MA MSA',
       'Daphne-Fairhope-Foley, AL MSA', 'Houma-Thibodaux, LA MSA',
       'Lake Charles, LA MSA', 'Athens-Clarke County, GA MSA',
       'Springfield, IL MSA', 'Yuma, AZ MSA',
       'Lake Havasu City-Kingman, AZ MSA', 'Florence, SC MSA',
       'Elkhart-Goshen, IN MSA', 'Johnson City, TN MSA',
       'Panama City, FL MSA', 'Gainesville, GA MSA', 'St. Cloud, MN MSA',
       'Racine, WI MSA', 'Jacksonville, NC MSA', 'Saginaw, MI MSA',
       'Warner Robins, GA MSA', 'Bloomington, IL MSA',
       'Bend-Redmond, OR MSA',
       'Blacksburg-Christiansburg-Radford, VA MSA', 'El Centro, CA MSA',
       'Punta Gorda, FL MSA', 'Redding, CA MSA', 'Kingston, NY MSA',
       'Greenville, NC MSA', 'Joplin, MO MSA', 'Monroe, LA MSA',
       'Columbia, MO MSA', 'Dover, DE MSA', 'Bowling Green, KY MSA',
       'Muskegon, MI MSA', 'Yuba City, CA MSA', 'Iowa City, IA MSA',
       'Midland, TX MSA', 'Billings, MT MSA', 'Oshkosh-Neenah, WI MSA',
       'Abilene, TX MSA', 'Terre Haute, IN MSA',
       'Waterloo-Cedar Falls, IA MSA', 'Sioux City, IA-NE-SD MSA',
       'East Stroudsburg, PA MSA', 'Bloomington, IN MSA',
       'Eau Claire, WI MSA', 'Pueblo, CO MSA',
       'Kahului-Wailuku-Lahaina, HI MSA', 'St. George, UT MSA',
       'State College, PA MSA', 'Burlington, NC MSA',
       'Janesville-Beloit, WI MSA', 'Auburn-Opelika, AL MSA',
       'Jackson, MI MSA', "Coeur d'Alene, ID MSA", 'Odessa, TX MSA',
       'Madera, CA MSA', 'Sebastian-Vero Beach, FL MSA',
       'Niles-Benton Harbor, MI MSA', 'Chambersburg-Waynesboro, PA MSA',
       'Alexandria, LA MSA', 'Vineland-Bridgeton, NJ MSA',
       'Bangor, ME MSA', 'Decatur, AL MSA', 'Grand Junction, CO MSA',
       'Jefferson City, MO MSA', 'Albany, GA MSA',
       'Wichita Falls, TX MSA', 'Elizabethtown-Fort Knox, KY MSA',
       'Texarkana, TX-AR MSA', 'Hanford-Corcoran, CA MSA',
       'Monroe, MI MSA', 'Hattiesburg, MS MSA', 'Santa Fe, NM MSA',
       'Dothan, AL MSA', 'Florence-Muscle Shoals, AL MSA',
       'Rapid City, SD MSA', 'Rocky Mount, NC MSA',
       'Homosassa Springs, FL MSA', 'Idaho Falls, ID MSA',
       'Valdosta, GA MSA', 'Dalton, GA MSA', 'Wheeling, WV-OH MSA',
       'Napa, CA MSA', 'Flagstaff, AZ MSA', 'Lebanon, PA MSA',
       'Morgantown, WV MSA', 'Logan, UT-ID MSA', 'Winchester, VA-WV MSA',
       'La Crosse-Onalaska, WI-MN MSA', 'Wausau, WI MSA',
       'Springfield, OH MSA', 'Harrisonburg, VA MSA',
       'Battle Creek, MI MSA', 'Johnstown, PA MSA', 'Hammond, LA MSA',
       'Bismarck, ND MSA', 'Jonesboro, AR MSA', 'Sherman-Denison, TX MSA',
       'Jackson, TN MSA', 'Lawton, OK MSA', 'St. Joseph, MO-KS MSA',
       'Farmington, NM MSA', 'Pittsfield, MA MSA', 'Glens Falls, NY MSA',
       'Mount Vernon-Anacortes, WA MSA', 'Carbondale-Marion, IL MSA',
       'The Villages, FL MSA', 'Albany, OR MSA', 'New Bern, NC MSA',
       'Sierra Vista-Douglas, AZ MSA', 'Goldsboro, NC MSA',
       'Altoona, PA MSA', 'Cleveland, TN MSA',
       'Staunton-Waynesboro, VA MSA', 'Lawrence, KS MSA',
       'Mansfield, OH MSA', 'San Angelo, TX MSA', 'Beckley, WV MSA',
       'Wenatchee, WA MSA', 'Owensboro, KY MSA',
       'Weirton-Steubenville, WV-OH MSA', 'Brunswick, GA MSA',
       'Morristown, TN MSA', 'Missoula, MT MSA', 'Sheboygan, WI MSA',
       'Muncie, IN MSA', 'Anniston-Oxford-Jacksonville, AL MSA',
       'Watertown-Fort Drum, NY MSA', 'Williamsport, PA MSA',
       'California-Lexington Park, MD MSA',
       'Michigan City-La Porte, IN MSA', 'Kankakee, IL MSA',
       'Lewiston-Auburn, ME MSA', 'Longview, WA MSA', 'Sumter, SC MSA',
       'Decatur, IL MSA', 'Ithaca, NY MSA', 'Bay City, MI MSA',
       'Lima, OH MSA', 'Sebring, FL MSA', 'Gadsden, AL MSA',
       'Fond du Lac, WI MSA', 'Grand Forks, ND-MN MSA',
       'Gettysburg, PA MSA', 'Mankato-North Mankato, MN MSA',
       'Fairbanks, AK MSA', 'Victoria, TX MSA', 'Cumberland, MD-WV MSA',
       'Hot Springs, AR MSA', 'Cheyenne, WY MSA', 'Manhattan, KS MSA',
       'Rome, GA MSA', 'Ames, IA MSA', 'Dubuque, IA MSA',
       'Cape Girardeau, MO-IL MSA', 'Ocean City, NJ MSA',
       'Pine Bluff, AR MSA', 'Corvallis, OR MSA',
       'Parkersburg-Vienna, WV MSA', 'Grants Pass, OR MSA',
       'Elmira, NY MSA', 'Pocatello, ID MSA', 'Grand Island, NE MSA',
       'Bloomsburg-Berwick, PA MSA', 'Midland, MI MSA', 'Kokomo, IN MSA',
       'Columbus, IN MSA', 'Great Falls, MT MSA', 'Hinesville, GA MSA',
       'Casper, WY MSA', 'Danville, IL MSA', 'Walla Walla, WA MSA',
       'Lewiston, ID-WA MSA', 'Enid, OK MSA', 'Carson City, NV MSA'],
      dtype=object)