In [2]:
import pandas as pd

In [20]:
state_populations = "https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_population"

[See other nice lists](https://en.wikipedia.org/wiki/Category:Lists_of_countries)

In [272]:
states = pd.read_html(state_populations)[2]
states_series = states[0][1:]

In [273]:
type(states_series)

pandas.core.series.Series

In [280]:
vars(states_series)

{'_data': SingleBlockManager
 Items: RangeIndex(start=1, stop=72, step=1)
 ObjectBlock: 71 dtype: object,
 '_index': RangeIndex(start=1, stop=72, step=1),
 '_is_copy': None,
 '_item_cache': {},
 '_name': 0,
 '_subtyp': 'series',
 'str': <pandas.core.strings.StringMethods at 0x11418b358>}

In [290]:
states_series.iloc[0:5]

1    Massachusetts
2      Connecticut
3            Maine
4    New Hampshire
5     Rhode Island
Name: 0, dtype: object

In [291]:
states_series.loc[1:3]

1    Massachusetts
2      Connecticut
3            Maine
Name: 0, dtype: object

In [294]:
first_three = states_series.iloc[0:3]

In [325]:
first_three.index = ['mass', 'conn', 'maine']

In [329]:
first_three

mass     Massachusetts
conn       Connecticut
maine            Maine
Name: 0, dtype: object

In [330]:
first_three.keys()

Index(['mass', 'conn', 'maine'], dtype='object')

In [331]:
list(first_three.items())

[('mass', 'Massachusetts'), ('conn', 'Connecticut'), ('maine', 'Maine')]

In [341]:
first_three[first_three == 'Massachusetts']

mass    Massachusetts
Name: 0, dtype: object

In [344]:
df_states = pd.DataFrame({'state_names': states_series})

In [352]:
df_states.index = states_series

In [357]:
df_states

                                       state_names
0
Massachusetts                        Massachusetts
Connecticut                            Connecticut
Maine                                        Maine
New Hampshire                        New Hampshire
Rhode Island                          Rhode Island
Vermont                                    Vermont
New England                            New England
New York                                  New York
Pennsylvania                          Pennsylvania
New Jersey                              New Jersey
Mid-Atlantic                          Mid-Atlantic
Northeast                                Northeast
Florida                                    Florida
Georgia                                    Georgia
North Carolina                      North Carolina
Virginia                                  Virginia
Maryland                                  Maryland
South Carolina                      South Carolina
West Virginia                        West Virginia
Delaware                                  Delaware
District of Columbia          District of Columbia
South Atlantic                      South Atlantic
Tennessee                                Tennessee
Alabama                                    Alabama
Kentucky                                  Kentucky
Mississippi                            Mississippi
East South Central              East South Central
Texas                                        Texas
Louisiana                                Louisiana
Oklahoma                                  Oklahoma
...                                            ...
Iowa                                          Iowa
Kansas                                      Kansas
Nebraska                                  Nebraska
South Dakota                          South Dakota
North Dakota                          North Dakota
West North Central              West North Central
Midwest                                    Midwest
Arizona                                    Arizona
Colorado                                  Colorado
Utah                                          Utah
Nevada                                      Nevada
New Mexico                              New Mexico
Idaho                                        Idaho
Montana                                    Montana
Wyoming                                    Wyoming
Mountain                                  Mountain
California                              California
Washington                              Washington
Oregon                                      Oregon
Hawaii                                      Hawaii
Alaska                                      Alaska
Pacific                                    Pacific
West                                          West
50 states and D.C.              50 states and D.C.
Puerto Rico                            Puerto Rico
Guam                                          Guam
U.S. Virgin Islands            U.S. Virgin Islands
American Samoa                      American Samoa
Northern Mariana Islands  Northern Mariana Islands
Total Territories                Total Territories

[71 rows x 1 columns]

In [358]:
states = pd.read_html(state_populations)

In [366]:
state_columns = states[2].loc[0]

In [371]:
updated_df = states[2][1:]

In [372]:
updated_df.columns = state_columns

In [400]:
updated_df['State/Territory/Division/Region'].str.replace('M', 'D')

1                Dassachusetts
2                  Connecticut
3                        Daine
4                New Hampshire
5                 Rhode Island
6                      Vermont
7                  New England
8                     New York
9                 Pennsylvania
10                  New Jersey
11                Did-Atlantic
12                   Northeast
13                     Florida
14                     Georgia
15              North Carolina
16                    Virginia
17                    Daryland
18              South Carolina
19               West Virginia
20                    Delaware
21        District of Columbia
22              South Atlantic
23                   Tennessee
24                     Alabama
25                    Kentucky
26                 Dississippi
27          East South Central
28                       Texas
29                   Louisiana
30                    Oklahoma
                ...
42                        Iowa
43                      Kansas
44                    Nebraska
45                South Dakota
46                North Dakota
47          West North Central
48                     Didwest
49                     Arizona
50                    Colorado
51                        Utah
52                      Nevada
53                  New Dexico
54                       Idaho
55                     Dontana
56                     Wyoming
57                    Dountain
58                  California
59                  Washington
60                      Oregon
61                      Hawaii
62                      Alaska
63                     Pacific
64                        West
65          50 states and D.C.
66                 Puerto Rico
67                        Guam
68         U.S. Virgin Islands
69              American Samoa
70    Northern Dariana Islands
71           Total Territories
Name: State/Territory/Division/Region, Length: 71, dtype: object

In [386]:
sixers_roster = 'http://www.espn.com/nba/team/roster/_/name/phi/philadelphia-76ers'

In [389]:
pd.read_html(sixers_roster)

[              0                  1    2    3     4    5                6  \
 0   Team Roster                NaN  NaN  NaN   NaN  NaN              NaN
 1           NO.               NAME  POS  AGE    HT   WT          COLLEGE
 2             0     Jerryd Bayless   PG   29   6-3  200          Arizona
 3            --    Wilson Chandler   SF   31   6-9  225           DePaul
 4            33   Robert Covington   SF   27   6-9  225  Tennessee State
 5            21        Joel Embiid    C   24   7-0  250           Kansas
 6            20     Markelle Fultz   PG   20   6-4  200       Washington
 7            11  Demetrius Jackson   PG   23   6-1  201       Notre Dame
 8             5       Amir Johnson    C   31   6-9  240              NaN
 9            30     Furkan Korkmaz   SG   20   6-7  190              NaN
 10           12     T.J. McConnell   PG   26   6-2  190          Arizona
 11           --       Shake Milton   SG   21   6-6  207              SMU
 12           31       Mike Muscala   PF   27  6-11  240         Bucknell
 13           17          JJ Redick   SG   34   6-4  200             Duke
 14            9        Dario Saric   PF   24  6-10  223              NaN
 15           --      Landry Shamet   PG   21   6-5  188    Wichita State
 16           25        Ben Simmons   PG   22  6-10  230              LSU
 17           --       Zhaire Smith   SG   19   6-4  199       Texas Tech

                    7
 0                NaN
 1   2018-2019 SALARY
 2         $8,575,916
 3        $12,800,562
 4        $10,464,092
 5        $25,467,250
 6         $8,339,880
 7                NaN
 8         $1,512,601
 9         $1,740,000
 10        $1,600,520
 11               NaN
 12        $5,000,000
 13       $12,250,000
 14        $2,526,840
 15        $1,703,649
 16        $6,434,520
 17        $2,526,840  ,                     0
 0  Coach: Brett Brown]