### SQL Relations

Authors 
id | name     
1     'mark twain' 
2     'jhumpa lahiri' 

Books 
id |   title          |   author_id    |    
1 | 'tom sawyer'| 1                     | id 1 | 'mark twain'
2 | 'the god of small things'| 2         |  2   | 'jumpa lahiri'
3 | 'prince and the pauper'| 1           | 1     | 'mark twain'

* What author wrote tom sawyer

In [ ]:
# get the author id from the books table
author_id = cursor.execute("SELECT author_id FROM books where title = 'Tom Sawyer'")
# 1
"SELECT books.title, authors.name from books join authors ON 
"books.author_id = authors.id where title = 'Tom Sawyer'"

cursor.execute("SELECT NAME from authors where author_id = ?", [author_id])

In [1]:
import sqlite3

In [4]:
conn = sqlite3.connect('bar.db')
cursor = conn.cursor()

cursor.execute('select * from customers')

cursor.fetchall()

[(1, 'bart simpson', 'springfield', 2008),
 (2, 'maggie simpson', 'milwaukee', 2016),
 (3, 'lisa simpson', 'philly', 2006),
 (4, 'bart simpson', 'springfield', 2008),
 (5, 'maggie simpson', 'milwaukee', 2016),
 (6, 'lisa simpson', 'philly', 2006),
 (7, 'bart simpson', 'springfield', 2008),
 (8, 'maggie simpson', 'milwaukee', 2016),
 (9, 'lisa simpson', 'philly', 2006),
 (10, 'bart simpson', 'springfield', 2008),
 (11, 'maggie simpson', 'milwaukee', 2016),
 (12, 'lisa simpson', 'philly', 2006)]