In [112]:
sql = """
    WITH city_restaurants AS 
        (
            SELECT city, AVG(rating) as average_city_rating, count(*) as number_of_restaurants FROM RESTAURANTS GROUP BY city
        )
    SELECT city, number_of_restaurants, max(average_city_rating) from city_restaurants where number_of_restaurants > 20;
"""
sql

'\n    WITH city_restaurants AS \n        (\n            SELECT city, AVG(rating) as average_city_rating, count(*) as number_of_restaurants FROM RESTAURANTS GROUP BY city\n        )\n    SELECT city, number_of_restaurants, max(average_city_rating) from city_restaurants where number_of_restaurants > 20;\n'

### CTEs

In [87]:
import psycopg2

In [113]:
conn = psycopg2.connect(database="bartender", host="localhost")

In [114]:
cursor = conn.cursor()

In [117]:
seed = open("./bartender.sql", "r")
sql = seed.read()

In [91]:
cursor.execute(sql)

In [93]:
conn.commit()

In [118]:
conn.close()

In [119]:
conn = psycopg2.connect(database="bartender", host="localhost")

In [120]:
cursor =conn.cursor()

In [123]:
cursor.execute('select * from drinks;')

In [124]:
cursor.fetchall()

[(1, 'egg cream soda', 80, 3, 0),
 (2, 'milkshake', 300, 5, 0),
 (3, 'rootbeer', 180, 6, 0),
 (4, 'ice cream float', 250, 8, 0),
 (5, 'duff beer', 200, 7, 1),
 (6, 'gin and tonic', 200, 7, 1)]

In [125]:
cursor.execute('select * from orders;')

In [126]:
cursor.fetchall()

[(1, 1, 1, 1),
 (2, 1, 1, 1),
 (3, 2, 5, 2),
 (4, 2, 5, 1),
 (5, 2, 5, 1),
 (6, 3, 6, 3),
 (7, 1, 2, 1),
 (8, 2, 3, 2),
 (9, 3, 4, 3)]

In [150]:
sql = """
SELECT customer_id FROM orders;
"""

In [152]:
conn.close()

In [153]:
conn = psycopg2.connect(database="bartender", host="localhost")

In [154]:
cursor = conn.cursor()

In [161]:
cursor.execute("SELECT *, COUNT(*) OVER(PARTITION BY customer_id) as number_of_orders_per_customer from orders;")

In [162]:
cursor.fetchall()

[(2, 1, 1, 1, 3),
 (1, 1, 1, 1, 3),
 (7, 1, 2, 1, 3),
 (5, 2, 5, 1, 4),
 (3, 2, 5, 2, 4),
 (4, 2, 5, 1, 4),
 (8, 2, 3, 2, 4),
 (9, 3, 4, 3, 2),
 (6, 3, 6, 3, 2)]

In [157]:
cursor.execute("SELECT DISTINCT customer_id from orders;")

In [158]:
cursor.fetchall()

[(3,), (2,), (1,)]