In [12]:
class User(Person):
    pass

In [7]:
class Person:
    name = 'bob'

In [45]:
class Student(User):
    pass
#     name = 'not bob'
#     name = 'not bob'

In [46]:
student = Student()

In [47]:
student.name

'bob'

In [9]:
person.name

'bob'

In [15]:
user = User()

In [14]:
user.name

'bob'

In [22]:
student = Student()

In [23]:
student.name

'not bob'

### SqlAlchemy

In [71]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [77]:
import sqlalchemy

In [72]:
from sqlalchemy import Column, Integer, Text

class Artist(Base):
    __tablename__ = 'artists' 
    id = Column(Integer, primary_key = True)
    name = Column(Text)

In [66]:
bob = Artist(name = 'bob')

In [67]:
bob.name

'bob'

In [68]:
bob.name = 'Bob'

In [69]:
bob.name

'Bob'

In [73]:
Artist.__table__

Table('artists', MetaData(bind=None), Column('id', Integer(), table=<artists>, primary_key=True, nullable=False), Column('name', Text(), table=<artists>), schema=None)

In [76]:
bob.name

'Bob'

In [151]:
engine = sqlalchemy.create_engine('sqlite:///spotify.db', echo = True)

In [80]:
Base.metadata.create_all(engine)

2018-07-11 14:02:28,477 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-07-11 14:02:28,479 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 14:02:28,482 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-07-11 14:02:28,484 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 14:02:28,490 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("artists")
2018-07-11 14:02:28,493 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 14:02:28,497 INFO sqlalchemy.engine.base.Engine
CREATE TABLE artists (
	id INTEGER NOT NULL,
	name TEXT,
	PRIMARY KEY (id)
)


2018-07-11 14:02:28,499 INFO sqlalchemy.engine.base.Engine ()
2018-07-11 14:02:28,506 INFO sqlalchemy.engine.base.Engine COMMIT

In [84]:
bob

In [85]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker()

In [86]:
session = Session(bind = engine)

In [87]:
session.add(bob)

In [88]:
session.commit()

2018-07-11 14:10:06,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 14:10:06,011 INFO sqlalchemy.engine.base.Engine INSERT INTO artists (name) VALUES (?)
2018-07-11 14:10:06,014 INFO sqlalchemy.engine.base.Engine ('Bob',)
2018-07-11 14:10:06,018 INFO sqlalchemy.engine.base.Engine COMMIT

In [89]:
bob.id

2018-07-11 14:10:21,017 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 14:10:21,022 INFO sqlalchemy.engine.base.Engine SELECT artists.id AS artists_id, artists.name AS artists_name
FROM artists
WHERE artists.id = ?
2018-07-11 14:10:21,023 INFO sqlalchemy.engine.base.Engine (1,)

1

In [91]:
bob.name = 'bob'

In [93]:
session.commit()

2018-07-11 14:11:25,633 INFO sqlalchemy.engine.base.Engine UPDATE artists SET name=? WHERE artists.id = ?
2018-07-11 14:11:25,635 INFO sqlalchemy.engine.base.Engine ('bob', 1)
2018-07-11 14:11:25,638 INFO sqlalchemy.engine.base.Engine COMMIT

In [94]:
bob.name

2018-07-11 14:11:37,239 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 14:11:37,244 INFO sqlalchemy.engine.base.Engine SELECT artists.id AS artists_id, artists.name AS artists_name
FROM artists
WHERE artists.id = ?
2018-07-11 14:11:37,246 INFO sqlalchemy.engine.base.Engine (1,)

'bob'

In [95]:
bob.name = 'foobar'

In [96]:
bob.name

'foobar'

In [98]:
session.dirty

IdentitySet([<__main__.Artist object at 0x10ec7b978>])

In [99]:
session.rollback()

2018-07-11 14:12:31,534 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [100]:
session.dirty

IdentitySet([])

In [101]:
bob.name

2018-07-11 14:12:42,224 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 14:12:42,228 INFO sqlalchemy.engine.base.Engine SELECT artists.id AS artists_id, artists.name AS artists_name
FROM artists
WHERE artists.id = ?
2018-07-11 14:12:42,231 INFO sqlalchemy.engine.base.Engine (1,)

'bob'

In [103]:
kanye = Artist(name = 'kanye')

In [104]:
session.add(kanye)

In [105]:
session.new

IdentitySet([<__main__.Artist object at 0x10ece7c18>])

In [106]:
kanye

In [107]:
session.commit()

2018-07-11 14:14:45,106 INFO sqlalchemy.engine.base.Engine INSERT INTO artists (name) VALUES (?)
2018-07-11 14:14:45,108 INFO sqlalchemy.engine.base.Engine ('kanye',)
2018-07-11 14:14:45,111 INFO sqlalchemy.engine.base.Engine COMMIT

In [108]:
session.new

IdentitySet([])

In [109]:
session.rollback()

In [111]:
session.delete(kanye)

In [113]:
session.commit()

2018-07-11 14:17:04,293 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 14:17:04,298 INFO sqlalchemy.engine.base.Engine SELECT artists.id AS artists_id, artists.name AS artists_name
FROM artists
WHERE artists.id = ?
2018-07-11 14:17:04,301 INFO sqlalchemy.engine.base.Engine (2,)
2018-07-11 14:17:04,306 INFO sqlalchemy.engine.base.Engine DELETE FROM artists WHERE artists.id = ?
2018-07-11 14:17:04,308 INFO sqlalchemy.engine.base.Engine (2,)
2018-07-11 14:17:04,311 INFO sqlalchemy.engine.base.Engine COMMIT

In [114]:
drake = Artist(name = 'drake')

In [115]:
paul_simon = Artist(name = 'paul simon')

In [116]:
session.add_all([drake, paul_simon])

In [117]:
session.new

IdentitySet([<__main__.Artist object at 0x10ec932e8>, <__main__.Artist object at 0x10ec931d0>])

In [118]:
session.commit()

2018-07-11 14:18:30,782 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-07-11 14:18:30,785 INFO sqlalchemy.engine.base.Engine INSERT INTO artists (name) VALUES (?)
2018-07-11 14:18:30,788 INFO sqlalchemy.engine.base.Engine ('drake',)
2018-07-11 14:18:30,791 INFO sqlalchemy.engine.base.Engine INSERT INTO artists (name) VALUES (?)
2018-07-11 14:18:30,793 INFO sqlalchemy.engine.base.Engine ('paul simon',)
2018-07-11 14:18:30,796 INFO sqlalchemy.engine.base.Engine COMMIT

In [119]:
list_of_artists = [drake, paul_simon]

In [122]:
for artist in list_of_artists:
    artist.name = 'something else'

In [123]:
drake.name

'something else'

In [124]:
paul_simon.name

'something else'

### Selecting

In [128]:
session.query(Artist).first()

2018-07-11 14:22:08,519 INFO sqlalchemy.engine.base.Engine SELECT artists.id AS artists_id, artists.name AS artists_name
FROM artists
 LIMIT ? OFFSET ?
2018-07-11 14:22:08,523 INFO sqlalchemy.engine.base.Engine (1, 0)

In [135]:
query = session.query(Artist.name, Artist.id)

In [143]:

def find_by_name(query, name):
    return query.filter_by(name = name)

In [147]:
query_object = session.query(Artist.name, Artist.id)

In [149]:
find_by_name(query_object, 'kanye').all()

2018-07-11 14:27:05,713 INFO sqlalchemy.engine.base.Engine SELECT artists.name AS artists_name, artists.id AS artists_id
FROM artists
WHERE artists.name = ?
2018-07-11 14:27:05,716 INFO sqlalchemy.engine.base.Engine ('kanye',)

[]